<div class="container">
  <div id="pdfTable" #pdfTable>
    <h2>Angular HTML To PDF Using PDFMAKE and htm-to-pdfmake Example - readerstacks.com</h2>

    <table>
      <thead>
        <tr>
          <th>S.no.</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Rem</td>
          <td>Rem@yopmail.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Joe</td>
          <td>joe@yopmail.com</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Kuple</td>
          <td>Kuple@yopmail.com</td>
        </tr>
      </tbody>
    </table>
    <div class="mapa" id="embeDmap">

     </div>
  </div>


  <br><br>
  <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
</div>
